*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}
body{
    background: #DBE6F6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    
}
h1{
    text-align: center;
    margin: 50px 100px;
    font-size: 60px;
    color: #fff;
}
.container-clock{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 40%;
    display: flex;
    justify-content: center;
  
    
}
.img img{
    width: 500px;
}
.timer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    font-size: 50px;
}
.timer p{
    color: #4a47a3;
}
h2{
    color: #2e2d2d;
}

span{
    font-weight: 300;
    font-size: 100px;
    color: #fff;
}
.c-body{
    height: 50vh;
}
.c-time{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2e2d2d;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 11px 17px 22px 0;
}
.c-btn{
    display: flex;
    justify-content: space-around;
    width: 80%;

}
.c-btn button{
    width: 60px;
    display: block;
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;
    height: 80px;
    border-radius: 40%;
    color: #fff;
    font-size: 50px;
}
button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: #4a47a3;
    color: #fff;
}